{% extends 'base.html' %}

{% load static %}

{% block contenido %}

    <h1 class="text-center">Forgot Password</h1>
    <p class="lead text-center m-2">Send a mail with a new password</p>
    <form method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    {% if error == True %}    
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Error: </strong>Email invalid
                        </div>
                    {% else %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Email Send: </strong>the new password has been sended
                        </div>
                    {% endif %}
                    
                    <label>Email</label>
                    <input type="text" class="form-control" placeholder="email" name="email">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-primary" value="Send">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <a href="{% url 'login' %}" class="form-control btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
        
    </form>

{% endblock %}