{% extends 'base.html' %}

{% load static %}

{% block contenido %}
    
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-lg-6 col-md-10 col-sm-12 form-group">
            <div class="card">
                <div class="card-header">
                    <h1>User Profile</h1>
                </div>
                <div class="card-body">
                    <ul>
                        <li><h4>Username: {{userr.username}}</h4></li>
                        <li><h4>Email: {{userr.email}}</h4></li>
                        <li><h4>Rol: {{userr.rol}}</h4></li>
                        <li><h4>Email Verified: 
                            {% if userr.user_verified %} 
                                Yes 
                            {% else %}
                                No
                            {% endif %}
                            </h4>
                        </li>
                    </ul>
                    <a href="{% url 'edit-user' userr.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'logout' %}" class="btn-primary btn">Logout</a>
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}
    