{% extends 'base.html' %}

{% load static %}

{% block contenido %}
    <h1 class="text-center">List Users</h1>
    
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 form-group">
            <a href="{% url 'create-user' %}" class="btn btn-primary form-control">Add User</a>
        </div>
    </div>
    
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Mail</th>
                <th>Password</th>
                <th>Rol</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for i in response %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.username}}</td>
                    <td>{{i.email}}</td>
                    <td>************</td>
                    <td>{{i.rol}}</td>
                    <td>
                        <a href="{% url 'edit-user' i.id %}" class="btn btn-warning">Edit</a>
                        <a href="#" class="btn btn-danger" onclick="preguntar('{{i.id}}')">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock %}
    